include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/cd2_config *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/cd2_config/migration *.ini *.py *.mako
