.site-footer {
    background-image: none;
    background-color: #D89F6F;
    padding: 0;
}

#cohorts-bar {
    background-color: #F1F4E9;
    padding: 60px 0 38px;
}

.footer-element-margins {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* .account-masthead {
    background-color: #27A468;
}

.masthead {
    background-image: none;
    background-color: white;
}

.masthead .nav > li > a {
  color: #27A468;
  text-shadow: none;
}

.masthead .nav > li > a:hover {
    color: white;
    background-color: white;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
    background-color: #27A468;
}

.homepage .module-search .module-content {
    background-color: #27A468;
}

.homepage .module-search .tags {
    background-color: #27A468;
}

.pagination > .active > a {
    background-color: #27A468;
}

body {
    background-color: #27A468;
    background-image: none;
}

.badge {
    background-color: #27A468;
}

.pill {
    background-color: #27A468;
} */
