.site-footer {
    background-image: none;
    background-color: #D89F6F;
    padding: 0;
}

#cohorts-bar {
    background-color: #F1F4E9;
    padding: 60px 0 38px;
}

.footer-element-margins {
    padding-top: 20px;
    padding-bottom: 20px;
}

.account-masthead {
    background-image: none;
    background-color: #D89F6F;
}

.account-masthead .account > ul > li > a {
    color: #CCDEE3;
}

.masthead {
    background: #F1F4E9;
}

.masthead .nav > li > a {
  color: #000000;
  text-shadow: none;
}

.homepage .hero {
    background: #eee url("../../base/images/bg.png");
}

/*

.masthead .nav > li > a:hover {
    color: white;
    background-color: white;
}

.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
    background-color: #27A468;
}
*/
.homepage .module-search .module-content {
    background-color: #D89F6F;
}

.homepage .module-search .tags {
    background-color: #D89F6F;
}

.pagination > .active > a {
    background-color: #D89F6F;
}
/*
body {
    background-color: #27A468;
    background-image: none;
}

.badge {
    background-color: #27A468;
}

.pill {
    background-color: #27A468;
} */
